<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/studenthome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style type="text/css">
       body {
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-direction: column;
        background-color: #e8efeb;
      }
      .contact-us {
        text-align: center;
        padding: 6px;
        border: 1px solid #ccc;
        background-color: #f2f2f2;
      }
      
    </style>
</head>
<body>
  <main class="container">
    <div>
      <img src="../css/logo.jpg" alt="jntulogo" style="position: absolute; top: 0.7; right: 1;width: 130px; height: 100px">
    </div>
    <div style="position: relative;">
      <img src="../css/placement_logo1.png" alt="Image description" style="position: absolute; top: -30px; right: 10px;width: 150px; height: 150px">
    </div>

    <h2 class="heading">TRAINING AND PLACEMENT PORTAL   </h2>
    <div>
      <div class="main2" ><a href="/tpologin"><img src="../css/tpo.jpg" alt="tpo"></a><br><h5>TPO</h5></div>
      <div class="main2"><a href="/loginpc"><img src="../css/coordinator2.jpg" alt="coordinator"></a><br><h5>COORDINATOR</h5></div>      
      <div class="main2"><a href="/student"><img src="../css/student.jpg" alt="student"></a><h5>STUDENT</h5></div>
    </div><br>
    <div class="contact-us">
      <h4 style=" font-size: 24px; font-weight: bold; margin-bottom: 20px;">Contact Us</h4>
      <div class="contact" >
          <!-- <p style="font-size: 16px; color: #555;">Address: Jntuk,Kakinada</p>
          <p style="font-size: 16px; color: #555;">Phone: 9876543210</p>
          <p style="font-size: 16px; color: #555;">Email: jntuk@gmail.com</p> -->
          <!-- <p style="font-size: 16px; color: #555;"><i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps/search/Jntuk+Kakinada/">Jntuk,Kakinada</a></p>
          <p style="font-size: 16px; color: #555;"><i class="fas fa-phone"></i> <a href="tel:9876543210">9876543210</a></p>
          <p style="font-size: 16px; color: #555;"><i class="fas fa-envelope"></i> <a href="mailto:jntuk@gmail.com">placementofficer@jntucek.edu.in</a></p> -->
          <p style="font-size: 16px; color: #555;">
            <a href="https://www.google.com/maps/search/Jntuk+Kakinada/" target="_blank" style="text-decoration: none;">
              <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
              <span class="sr-only">Jntuk,Kakinada</span>

            </a>
            Jntuk,Kakinada
          </p>

          <p style="font-size: 16px; color: #555;">
            <a href="tel:9876543210" style="text-decoration: none;">
              <i class="fas fa-phone" aria-hidden="true"></i>
              <span class="sr-only">9742423919</span>

            </a>
            9742423919
          </p>

          <p style="font-size: 16px; color: #555;">
            <a href="mailto:jntuk@gmail.com" style="text-decoration: none;">
              <i class="fas fa-envelope" aria-hidden="true"></i>
              <span class="sr-only">placementofficer@jntucek.edu.in</span>
            </a>
            placementofficer@jntucek.edu.in
          </p>

      </div>
  </div> 
  </main>
</body>
</html>