<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url('../css/bg2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
      }

      /* Styling for the container */
      .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 350px;
        margin: auto;
        margin-top: 130px;
      }

      /* Styling for the form */
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* Styling for the input fields */
      .input-field {
        margin: 20px 0;
        position: relative;
        width: 100%;
      }

      input[type="text"], input[type="password"] {
        border: none;
        border-bottom: 2px solid #ccc;
        font-size: 16px;
        padding: 10px;
        width: 100%;
        outline: none;
        background-color: transparent;
      }

      input[type="text"]:focus, input[type="password"]:focus {
        border-bottom: 2px solid #4a00e0;
      }

      /* Styling for the login button */
      input[type="submit"] {
        background-color: #4a00e0;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        outline: none;
      }

      input[type="submit"]:hover {
        background-color: #fff;
        color: #4a00e0;
      }

      /* Styling for the error message */
      p {
        color: red;
        margin-top: 10px;
      }

      /* Styling for the logo */
      h2 {
        color: #4a00e0;
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      /* Styling for the input icons */
      i {
        color: #ccc;
        font-size: 20px;
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    </style>
</head>
<body>
    <main class="container">
        <h2>TPO Login</h2>
        <% if (errorMessage) { %>
            <p style="color: red"><%= errorMessage %></p>
          <% } %>

        <form action="/tpologin" method="post">
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Enter Your Username" minlength="1" required>
                <!-- <div class="underline"></div> -->
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Enter Your Password" minlength="8" required>
                <!-- <div class="underline"></div> -->
            </div>

            <input type="submit" value="Login">
        </form>       
    </main>
</body>
</html>